<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bird Watching Conference</name>
    <description>A Global Gathering for Bird Enthusiasts</description>
    <author email="drugovv@gmail.com" href="http://birdwatcherconf.australiacentral.cloudapp.azure.com/">
        Bird Watching Co.
    </author>
    <content src="http://birdwatcherconf.australiacentral.cloudapp.azure.com/" />
    <access origin="*"></access>
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/img/logo.png" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/Designer_logo.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    </platform>
</widget>